<div fxFlexFill fxLayout="column">

  <mat-toolbar fxFlex="none" class="mat-elevation-z2" color="primary">
    <a class="logo" routerLink="/">
      <img src="../assets/trueface-white.svg" />
    </a>
    <span>Libraries</span>
    <span class="spacer"></span>
    <a target="_blank" href="https://trueface.ai" mat-button>
      Trueface.ai
    </a>
    <a target="_blank" href="https://support.trueface.ai" mat-button>
      Support
    </a>
    <a target="_blank" href="https://support.trueface.ai/support/home" mat-button>
      Forum
    </a>

  </mat-toolbar>

  <div fxFlex>
    <div fxFill fxLayout="row">

      <nav fxFlex="224px">
        <markdown [src]="'./assets/docs/nav.md'"></markdown>
      </nav>

      <main fxFlex>
        <router-outlet></router-outlet>
      </main>

    </div>
  </div>

  <footer fxFlex="none">
    © 214 Technologies Inc 2021
  </footer>

</div>
